.collectionsUpdateActions {
  display: flex;
  gap: 4px;
  padding: 0 16px;
  margin: 4px 0 8px;
}

.collectionSelectorWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid var(--filter-border-color);
  border-radius: 8px;
  cursor: pointer;
  color: var(--filter-color-text);
}

.downChevronWrapper {
  transition: transform 0.15s;
}

.rotated {
  transform: rotate(180deg);
}

.collectionSelector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  background-color: var(--filter-background-color);
  border-radius: 8px;

  &:hover {
    background-color: var(--filter-hover-border-color);
  }
}

.selectedCollection {
  user-select: none;
}

.collectionOption {
  padding-left: 16px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;

  &:hover {
    background-color: #0d99ff;
  }
}

.updateButtonWrapper {
  display: flex;
  justify-content: center;
}

.updateButton {
  width: 26px;
  height: 26px;
  background-color: var(--action-button-background-color);
  color: var(--action-button-color);
  border: 1px solid var(--action-button-border-color);
  border-radius: 8px;
  cursor: pointer;
  padding: 0;

  &:hover {
    background-color: var(--action-button-background-color-hover);
  }

  svg {
    color: var(--action-button-color);
  }
}

.updateIcon {
  width: 22px;
  height: 22px;
}
