.variableItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
  min-width: 0;
  border: 1px solid var(--color-row-border-color);
  padding: 4px 4px 4px 8px;
  border-radius: 8px;
  background-color: var(--root-background-color);

  &:hover {
    background-color: var(--root-background-color-hover);
  }
}

.variableInfo {
  cursor: pointer;
  display: flex;
  gap: 2px;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
  font-size: 12px;
}

.variableName {
  flex-grow: 1;
  min-width: 0;
  color: var(--filter-color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.variableValue {
  color: #c5c5c5;
  font-size: 10px;
}

.actionButtons {
  display: flex;
  gap: 4px;
}

.actionButton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--action-button-background-color);
  border: 1px solid var(--action-button-border-color);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--action-button-background-color-hover);
  }

  svg {
    color: var(--action-button-color);
  }
}
