.variableItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
  padding: 4px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background-color: #fff;

  &:hover {
    background-color: #f5f5f5;
  }
}

.variableInfo {
  cursor: pointer;
  display: flex;
  gap: 2px;
  align-items: center;
  flex-grow: 1;
  font-size: 12px;
}

.variableName {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.variableValue {
  color: #c5c5c5;
}

.actionButtons {
  display: flex;
  gap: 4px;
}

.actionButton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #dfdfdf;
  }
}
