.tabs {
  display: flex;
  margin: 8px 16px;
  gap: 8px;
}

.tab {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 4px 8px;
  cursor: pointer;
  color: var(--tabs-color-text);
  background-color: var(--tabs-background-color);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  border-radius: 8px;

  &.disabled {
    cursor:not-allowed;
    border: 1px dashed #E6E6E6;
    color: #C3C3C3;
  }

  &.active {
    background-color: var(--tabs-active-background-color);
    color: var(--tabs-active-color-text);
    border: 1px solid var(--tabs-active-background-color);
    border-radius: 8px;
    font-weight: 500;

    &:hover {
      background-color: var(--tabs-active-background-color);
    }
  }

  &:hover {
    background-color: var(--tabs-hover-background-color);
  }
}
